---
---

html {
  scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

p {
  line-height: 1.35;
}

section {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 20px;
}

h1,h2 {
  font-family: serif;
  font-weight: 400;
  margin-bottom: 1 em;
  margin-top: 2em;
}

h3,h4,h5,h6 {
  font-weight: 400;
  margin-bottom: 1 em;
  margin-top: 2em;
}

footer a {
  color: #cacaca;
  text-decoration: none;
}

footer p {
  margin: 0;
}

.label {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* {% include nav-mobile.css %} */

/* Extra colors */
.color-1 {color: #52737E; fill: #52737E;}
.bg-color-1 {background-color: #52737E;}
.bg-hero {background: linear-gradient(180deg, #33535D 0%, #52737E 25.52%), #52737E;}
.color-2 {color: #AC4550; fill: #AC4550;}
.bg-color-2 {background-color: #AC4550;}
.bg-beige {background-color: #F5F2F0;}
.beige {color: #F5F2F0; fill: #F5F2F0;}

/* Grid 2x2 for inline nav links */
.grid-container-2x2r {
  display:grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* grid-row: 1fr 1fr; */
  grid-auto-rows: 1 fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.grid-item-2x2 {
  background-color: #F5F2F0;
  /* border: #333 solid 1px; */
  color: black;
  aspect-ratio: 1;
  /* transition: all 300ms; */
}

.grid-item-2x2:hover {
  background-color: #AC4550;
  color: white;
  z-index: 99;
}

.dib-hover {
  display: none;
  transition: all .25s;
}
.dib-hover:hover {
  display: inline-block;
}

a.grid-item-2x2 {
  transition: all .25s;
}

a:hover .dib-hover {
  display: inline-block;
}


/* Navbar */
/* I want the navbar to be light on dark sections (e.g. hero) and dark on light sections.
I will add a class to hero section, which the nav is within, and then CSS, if in that class, override colors */

.color-logo-main {
  fill: #71310f;
}

.color-logo-secondary {
  fill: #cec4bd;
}

#hero a, #hero {
  color: rgba(255, 255, 255, 0.787);
}
.navbox {
  background: #F5F2F0;
  /* box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.2); */
}
#hero .navbox {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.2);
}

#hero .color-logo-main {
  fill: #D9EFF7;
}

#hero .color-logo-secondary {
  fill: #9BC3D1;
}

footer .color-logo-main {
  fill: #afafaf;
}

.muted {
  fill: #afafaf;
  color: #afafaf;
}

footer .color-logo-secondary {
  fill: #6a6a6a;
}

/* Shadows */

.smooth-shadow {
  box-shadow:
  4.1px 3.9px 2.3px rgba(0, 0, 0, 0.031),
  9px 8.7px 5.5px rgba(0, 0, 0, 0.044),
  15.2px 14.7px 10.4px rgba(0, 0, 0, 0.055),
  23.6px 22.8px 18.5px rgba(0, 0, 0, 0.066),
  36.2px 35px 34.7px rgba(0, 0, 0, 0.079),
  60px 58px 83px rgba(0, 0, 0, 0.11)
;
}
  

/* 3D Card styling */

/* .card-container {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-wrap {
    margin: 40px 80px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
  } */

.card-container {
    width: 1200px;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card-wrap {
    margin: 0;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .card-wrap:hover .card-info {
    transform: translateY(0);
  }
  .card-wrap:hover .card-info p {
    opacity: 1;
  }
  .card-wrap:hover .card-info, .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
  }
  .card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
  }
  .card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
  }
  
  .card {
    position: relative;
    flex: 0 0 240px;
    width: 280px;
    height: 400px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    /* width: 100%;
    height: 100%; */
    width: 120%;
    height: 120%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
  }
  
  .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .card-info * {
    position: relative;
    z-index: 1;
  }
  .card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .card-info .title {
    font-size: 36px;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.3) 0 10px 10px;
  }

@media screen and (max-width: 910px) {

  /* Grid 2x2 for inline nav links */
  .grid-container-2x2r {
    display:grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-row: 1fr 1fr; */
    grid-auto-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .grid-item-2x2 {
    background-color: #F5F2F0;
    /* border: #333 solid 1px; */
    color: black;
    aspect-ratio: 1;
    /* transition: all 300ms; */
  }
}

@media screen and (min-width: 36em) {
  section {
    padding: 80px 60px;
  }
}

/* Make the youtube video responsive */
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}