<!-- CREDIT: Figar Ali https://codepen.io/figarali -->
<div id="app" class="mt5 flex flex-column items-center flex-row-l justify-between-l">
{% for card in site.data.brands[page.lang] %}
    <a href="/{{page.lang}}/beckher">
        <card class="mb6" data-image="{{card.cover}}">
            <div slot="header" class="flex flex-column align-center mv0">
                <h2 class="title tc">{{card.name}}</h2>
                <img class="" src="{{card.item}}" alt="">
            </div>
            <p slot="content" class="mt2 tc">{{card.card-text}}</p>
        </card>
    </a>
{% endfor %}
</div>