<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body lang="{{page.lang}}" class="">     
        


        <article id="hero" class="bg-hero white">

            {% include navbar.html %}
        
            <section class="pt3 pb6">
                <h1 class="f1 mb4">Our <em>Brands</em></h1>
                <div class="f4 w-60-m w-40-l lh-copy o-80">Theeta consists of subsidiaries working in various sectors of import, export and production.</div>    
                <!-- CREDIT: Figar Ali https://codepen.io/figarali -->
                <div id="app" class="mt5 flex flex-column items-center flex-row-l justify-between-l">
                    <card class="mb6" data-image="/assets/beckher-bg.jpg">
                        <div slot="header" class="flex flex-column align-center mv0">
                            <h2 class="title tc">Beckher</h2>
                            <img class="" src="/assets/coffeemaker_mi-cm-1601b.png" alt="">
                        </div>
                        <p slot="content" class="mt2 tc">Our own brand of small domestic appliances.</p>
                    </card>
                    <card class="mb6" data-image="/assets/sanosil-bg.jpg">
                        <div slot="header" class="flex flex-column align-center mv0">
                            <h2 class="title tc">Sanosil</h2>
                            <img class="" src="/assets/Sanosil-Super-25-Ag-5-kg.png" alt="">
                        </div>
                        <p slot="content" class="mt2 tc">Innovative, non-polluting disinfectant</p>
                    </card>
                    <card class="mb6" data-image="/assets/vineyards.jpg">
                        <div slot="header" class="flex flex-column align-center mv0">
                            <h2 class="title tc">Miravento</h2>
                            <img class="" src="/assets/miravento-moscato-bottles.png" alt="">
                            
                        </div>
                        <p slot="content" class="mt2 tc">Italian Moscato d’Asti, Rosé and Prosecco.</p>
                    </card>
                </div>
            </section>
        </article>
        
        
        
        <div class="bg-beige">
            <section class="pv6 flex flex-column flex-row-l justify-between">
                <h2 class="f1 serif color-2 w-40-l mt2">
                    <em>Ambition</em> lies at the core of what we&nbsp;do
                </h2>
                <div class="measure lh-copy">
                    <h3 class="f5 b">An introduction</h3>
                    <p>While Theeta is a young company, it was created and is led
                        by people who have more than 20 years of experience each
                    running successful manufacturing and distribution firms.</p>
                    <p>Between overseeing the production of our own brand of appliances, Beckher, and helping existing brands,
                        like Sanosil and Miravento, expand with the help of our network, we seize opportunities in multiple sectors
                        and always aim high.</p>
                </div>
            </section>
        </div>

        <section class="mv6">
            <h2 class="f2 tc serif mt2 o-60 pb5 bb bw1 b--light-gray">
                Some of our <em>Clients</em>
            </h2>
            <div class="flex flex-column flex-row-l flex-wrap items-center justify-around mb5">
                {% for image in site.static_files %}
                {% if image.path contains 'assets/client-logos' %}
                        <img src="{{image.path}}" class="w-70 w-20-l mv5 mb0-l mh3-l"/>
                {% endif %}
		    {% endfor %}
            </div>
        </section>
        
        <section class="pb0">
            <div class="pa1 br3 flex items-center justify-center" style="background-image: url('/assets/abstract-bg-1.jpg');  background-size: cover; height: 200px;";>
                <h2 class="f-subheadline center tc white shadow">Our Brands</h2>
                <!-- <div class="bg-white w-80 center w-50-l br3 pa5">
                    
                </div> -->
            </div>
        </section>
        <!-- <div style="background-image: url('/assets/wastewater-1.jpg');  background-size: cover; height: 600px;";>
        </div> -->
        
        
        <section class="pt0">
            {%- for brand in site.data.brands[page.lang] -%}
        
            <a class="link" href="{{page.lang}}/{{brand.url}}">
                <div class="flex flex-column flex-row-l items-top justify-between mv6 grow">
                    <div class="w-50-l bg-beige black pa4 pa5-l flex flex-column justify-between br3">
                        <div>
                            <img class="mb3 w-60" src="{{brand.logo}}" alt="">
                            <h3 class="serif f3 fw4">{{brand.name}}</h3>
                            <p class="o-80 lh-copy">{{brand.intro}}</p>
                        </div>
                        <div class="courier ttu tracked o-50 mt4 f6">{{brand.tags}}</div>
                    </div>
                    <div class="w-50-l white">
                        <div class="aspect-ratio aspect-ratio--1x1">
                            <div class="aspect-ratio--object cover flex items-end justify-center pa4 br3" style="background:url({{brand.cover}}) center;">
                            <img class="h-100" src="{{brand.item}}" alt="{{brand.name}} product">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        
            {%- endfor -%}   
        </section>
        
        <section class="grid-container-2x2r pt0">

            {% for grid-link in site.data.index[page.lang].grid-links %}
            <a href="{{grid-link.url}}" class="no-underline grid-item-2x2 ">
                <div class="grow pa5 tc flex flex-column justify-center h-100">
                    <h3 class="label o-60 flex items-center justify-center">{{grid-link.label}}
                        <svg class="dib-hover white-50 ml2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
                    </h3>
                    <div class="f1 lh-solid serif mb3">{{grid-link.title}}</div>
                    <p class="lh-title o-70 f4">
                        {{grid-link.text}}
                    </p>
                </div>
            </a>
                
            {% endfor %}
        </section>

        {% include footer.html %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script>
        <script src="/script.js"></script>
    </body>
</html>


